.CateIndex{
    .am-navbar {
        display: inline-flex;
        width: 100%;
        height: 38px;
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: #fb5d84;
    }
    #contentbox {
        height: 100%;
        background-color: #fff;
        .menu {
            position: fixed;
            top: 50px;
            bottom: 0;
            width: 32%;
            text-align: center;
            background-color: #f8f8f8;
            .menuItem {
                height: 45px;
                width: 100%;
                font-size: 15px;
                line-height: 45px;
                box-sizing: border-box;
                cursor: pointer;
                &.selected {
                    color: #169ada;
                    background-color: #fff;
                }
            }
        }
        .categoryBox {
            margin-left:  32%;
            width: 68%;
            height: 99.9%;
            overflow: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            .categoryContent {
                .categoryList {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    padding-bottom: 20px;
                    &:last-child {
                        padding-bottom: 300px;
                    }
                    &.first {
                        padding-top: 50px;
                    }
                    .title {
                        position: relative;
                        width: 90%;
                        margin: 0 5%;
                        font-size: 14px;
                        color: #424242;
                        line-height: 40px;
                        text-align: left;
                        text-indent: 7px;
                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            top: 13px;
                            width: 3px;
                            height: 14px;
                            background-color: #169ada;
                        }
                        .all {
                            float: right;
                            position: relative;
                            color: #b4b4b4;
                            padding-right: 12px;
                            font-size: 12px;
                            &:after {
                                position: absolute;
                                content: "\E629";
                                font-family: "wptFont";
                                width: 10px;
                                right: 0;
                                font-size: 10px;
                            }
                        }
                    }
                    .categoryBox {
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                        .categoryItem {
                            float: left;
                            height: 30px;
                            line-height: 30px;
                            width: 23.33%;
                            padding: 70px 5% 5px;
                            background-size: 63px;
                            background-repeat: no-repeat;
                            background-position: center 5px;
                            padding: 38px 5% 18px;
                            .itemIcon {
                                position: absolute;
                                top: 5px;
                                left: 50%;
                                width: 64px;
                                height: 64px;
                                color: #f56300;
                                font-size: 14px;
                                cursor: pointer;
                                line-height: 45px;
                                margin-left: -32px;
                                text-align: center;
                                background-color: #f4f4f4;

                            }
                            &:nth-child(3) {
                                .itemIcon {
                                    color: #169ada;
                                }
                            }
                            &:nth-child(4) {
                                .itemIcon {
                                    color: #f4ce14;
                                    font-size: 28px;
                                }
                            }
                            .text {
                                position: absolute;
                                left: 50%;
                                width: 64px;
                                cursor: pointer;
                                margin-left: -32px;
                            }
                        }
                        &:before {
                            position: absolute;
                            left: 5%;
                            bottom: 0;
                            content: '';
                            width: 90%;
                            height: 1px;
                            background-color: #eee;
                            transform: scaleY(0.5);
                            -webkit-transform: scaleY(0.5);
                        }
                    }
                    .categoryItem {
                        position: relative;
                        float: left;
                        height: 100px;
                        line-height: 100px;
                        width: 33.33%;
                        padding: 0 0 5px;
                        .categoryIcon {
                            position: relative;
                            background-size: 63px;
                            background-repeat: no-repeat;
                            background-position: center 5px;
                            width: 100%;
                            height: 70px;
                            img {
                                border-style: none;
                                width: 4rem;
                            }
                        }
                        .cursorArea {
                            position: absolute;
                            top: 5px;
                            left: 50%;
                            width: 64px;
                            height: 64px;
                            cursor: pointer;
                            overflow: hidden;
                            margin-left: -32px;
                            .new {
                                position: absolute;
                                top: 0;
                                left: 50%;
                                width: 74px;
                                color: #fff;
                                height: 18px;
                                font-size: 20px;
                                line-height: 14px;
                                margin-left: -60px;
                                background-color: #e01f0b;
                                transform: rotate(-45deg) scale(0.5);
                                -webkit-transform: rotate(-45deg) scale(0.5);
                            }
                        }
                        &.clicked {
                            opacity: 0.7;
                        }
                        .text {
                            height: 20px;
                            line-height: 20px;
                            margin: 5px 0;
                            overflow: hidden;
                            font-size: 14px;
                            display: block;
                        }
                        &.official {
                            clear: left;
                            width: 90%;
                            margin: 5px 5%;
                            height: auto;
                            padding: 37.6% 0 0;
                            background-size: cover;
                            background-position: center;
                        }
                    }
                }
            }
        }

    }

}

