.Index {
  .am-wingblank.am-wingblank-lg {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.IndexNoticeBar {
    margin-top: -12px;
    background-color: rgba(255, 255, 255, 0.95);
    .am-notice-bar{
      background-color: rgba(255, 255, 255, 0.95);
      color: #f4333c;
    }
}
.IndexActivityBar{
  margin-top: -12px;
  width: 100%;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.95);
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    width: 100%;
    float: right;
    li {
      margin-top: 2px;
      width: 50%;
      float: right;
      list-style-type:none; //去除ul  li  点
      a {
        text-align: center;
        img {
          width: 99%;
          vertical-align: text-bottom;
        }
      }
    }
  }
}


.IndexHotCate{
  margin-top: -12px;
  width: 100%;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.95);
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -28px;
    li {
      flex: 1 1;
      height: 60px;
      list-style-type:none; //去除ul  li  点
      a {
        width: 58px;
        line-height: 1;
        display: block;
        color: #7D8690;
        text-align: center;
        img {
          width: 50px;
          vertical-align: text-bottom;
        }
        span {
          display: block;
          margin-top: 6px;
          color: #7D8690;
          text-align: center;
        }
      }
    }
  }
}



.IndexItemList {
  background-color: rgba(255, 255, 255, 0.95);
  .goodsOne {
    padding: 15px 12px;
    border-top: 1px solid #f1f1f1;
    display: flex;
    .cover-image {
      width: 65%;
      height: 65%;
      vertical-align: top;
      display: inline-block;
      position: relative;
      max-width: 123px;
      .tags-img {
        width: 2.4rem;
        position: absolute;
        top: 0;
        left: 0;
      }
      .image {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
    .item-info {
      margin-left: .4rem;
      display: inline-block;
      margin-top: -20px;
      h1 {
        width: 100%;
        height: 44px;
        margin-bottom: 1.04rem;
        line-height: 1.5;
        color: #333;
        font-size: 14px;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        .tabsImg {
          width: 13px;
          margin-right: 5px;
        }
      }
      div {
        height: 1.24rem;
        line-height: 24px;
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          color: #fc3d37;
          font-size: 12px;
          //display: inline-block;
          p {
            span{
              font-size: 21px;
              color: #fb5d84;
              margin-left: 6px;
            }
          }
          .finalPrice{
            color: #696969;
            text-decoration: line-through;
            margin-left: 10px;
          }
        }
        .volume {
          margin-top: 47px;
          width: 100%;
          color: #888;
          font-size: 12px;
          .buy{
            float: left;
            width: 100px;
            height: 25px;
            border: 1px solid #fd3f69;
            border-radius: 19px;
            //background: #fb5d8447;
            text-align: center;
            color: #fb5d84;
          }
        }
      }
    }
  }

}